/* 
author: Jospeh Sutton
date: 04/03/24
file name: Styles.css
*/

/*
 CSS Reset
*/

body,
header,
nav,
main,
footer,
img,
h1,
h3, 
ul {
    Margin: 0;
    padding: 0;
    border: 0;
}

/* 
style rule for body and image
*/

body {
    background-color: #f6eee4;
}

/* 
style rule for image
*/

img {
    max-width: 100%;
    display: block;
}

/*
style rule for mobile veiwport
*/

h1 {
    .emblema-one-regular {
        font-family: "Emblema One", system-ui;
        font-weight: 400;
        font-style: normal;
      }      
}

h3 {
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}
/*
Style rules to show mobile class and hide tab-desk class
*/

.mobile {
    display: block;
}

.tab-desk {
    display: none;
}

/* 
style rules for header area
*/

h1, h3 {
    padding: 2%;
    text-align: center;
}

/* 
style rule for header content
*/

header h1 {
    text-align: center;
    font-size: 3em;
    font-style: italic;
    color: #373684;
}

/*
Style rules for navigation area
*/
nav {
    background-color: #2a1f14;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: 0.5px;
    color: #f6eee4;
}

nav li a {
    display: block;
    color: #f6eee4;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;

}

/* 
style rules for main content
*/

Main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}

main p {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.25em;
}

h3 {
    padding-top: 2%;
}

main ul {
    list-style: square;
}

.link {
    color:#4d3319 ;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px;
}

#info ul {
    margin-left: 10%;
}

#contact {
    text-align: center;
}

.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

/* 
Style rules for footer content 
*/

footer {
    text-align: center;
    background-color: #2a1f14;
    color: #f6eee4;
    font-size: 0.85em;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}